$main-color: #fff;
$txt-34-color: rgba(0,0,0,0.34);
$txt-54-color: rgba(0,0,0,0.54);
$txt-84-color: rgba(0,0,0,0.84);
$txt-alert: #ff0000;

$color-70: #FFCC00;
$color-70-2: #ffffff;
$color-30: #0033FF; 
$color-10: #8C9792;
$color-5: #FFD523;

$main: #FFCC00;
$main-2: #FFD633;
$sekunder: #0033FF;
$black: #2C2E43;
$grey: #8C9792;
$light-grey: #B2B1B9;
$tiny-grey: rgba(0,0,0,0.1);
$white-grey: #ededf1;
$white: #ffffff;

$border: 1px $white-grey solid;
$shadow: 3px 6px 18px $white-grey;
$shadow-bold: 3px 6px 18px $tiny-grey;

.border-all {
    border: $border;
}
.border-top {
    border-top: $border;
}
.border-left {
    border-left: $border;
}
.border-right {
    border-right: $border;
}
.border-bottom {
    border-bottom: $border;
}

.box-shadow {
    box-shadow: $shadow;
}
.box-shadow-bold {
    box-shadow: $shadow-bold;
}

.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: $black;
}
.bg-main {
    background-color: $main;
}

/*
$color-70: #f25153;
$color-30: #5ca157;
$color-10: #91f062;
$color-5: #f09162;
*/