@mixin grid_4x($col1, $col2, $col3, $col4) {
	display: grid;
	display: -ms-grid;

	grid-template-columns: $col1 $col2 $col3 $col4;
	-ms-grid-columns: $col1 $col2 $col3 $col4;
}
@mixin grid_3x($col1, $col2, $col3) {
	display: grid;
	display: -ms-grid;

	grid-template-columns: $col1 $col2 $col3;
	-ms-grid-columns: $col1 $col2 $col3;
}
@mixin grid_2x($col1, $col2) {
	display: grid;
	display: -ms-grid;

	grid-template-columns: $col1 $col2;
	-ms-grid-columns: $col1 $col2;
}
@mixin grid_1x($col1) {
	display: grid;
	display: -ms-grid;

	grid-template-columns: $col1;
	-ms-grid-columns: $col1;
}
@mixin grid_gap($n) {
	grid-gap: $n;
	grid-row-gap: $n;
}
@mixin grid_none() {
	display: block;
}
@mixin grid_col($x) {
	grid-column: $x;
	-ms-grid-column: $x;
}

@mixin col_set($width) {
	width: $width;
	margin: 0 auto;
	@media (max-width: $max-width) {
		width: calc(100% - 20px);
	}
}
@mixin col_masonry($val) {
	column-count: $val;
	-webkit-column-count: $val;
	-moz-column-count: $val;
	-ms-column-count: $val;
}
@mixin col_masonry_gap($gap) {
	column-gap: $gap;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	-ms-column-gap: $gap;
}

.grid {
	position: relative;
	width: 100%;
	&.grid-1 {
		@include grid_1x(1fr);
	}
	&.grid-2 {
		@include grid_2x(1fr, 1fr);
		@media (max-width: $max-width) {
			@include grid_none();
		}
		&.grid-1-100 {
			@include grid_2x(100px, 1fr);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}
		&.grid-1-200 {
			@include grid_2x(200px, 1fr);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}
		&.grid-1-300 {
			@include grid_2x(300px, 1fr);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}
		&.grid-1-400 {
			@include grid_2x(400px, 1fr);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}

		&.grid-2-100 {
			@include grid_2x(1fr, 100px);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}
		&.grid-2-200 {
			@include grid_2x(1fr, 200px);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}
		&.grid-2-300 {
			@include grid_2x(1fr, 300px);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}
		&.grid-2-400 {
			@include grid_2x(1fr, 400px);
			@media (max-width: $max-width) {
				@include grid_none();
			}
		}
	}
	&.grid-3 {
		@include grid_3x(1fr, 1fr, 1fr);
	}
	&.grid-4 {
		@include grid_4x(1fr, 1fr, 1fr, 1fr);
	}
	&.gap-10 {
		@include grid_gap(10px);
	}
	&.gap-20 {
		@include grid_gap(20px);
	}
	&.gap-30 {
		@include grid_gap(30px);
	}
	&.gap-40 {
		@include grid_gap(40px);
	}
	&.gap-50 {
		@include grid_gap(50px);
	}
	.col-1 {
		position: relative;
		@include grid_col(1);
	}
	.col-2 {
		@include grid_col(2);
	}
	.col-3 {
		@include grid_col(3);
	}
	.col-4 {
		@include grid_col(4);
	}
	.content-right {
		justify-content: right;
	}
}
